body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: 600;
    font-size: 24px;
}

h2{
    font-size: 14px;
    max-width: 300px;
}

h3{
    font-size: 24px;
    size: 40%;
}

p{
    font-weight: 300;
    font-size: 12px;
    max-width: 300px;
}

header{
    background-color: aquamarine;
    padding: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.navigation{
    background-color: rgb(161, 213, 178);
    display: inline-block;
    padding: 10px;
    text-align: center;
    float: right;
}

footer{
    padding: 140px;
    background-color: black;
    color: white;
}

.gridContainer{
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
}

.mailText .linkedinText .behanceText .phoneText{
    display: inline-block;
}

.footerText{
    font-size: 25px;
    text-align: center;
    float: left;
    padding: 20px;
    margin-top: 0px;
}

.footerRight{
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: end;
}

.mailText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.mailImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.linkedinText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.linkedinTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.behanceText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.behanceTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.phoneText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.phoneTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}


