html{
    background-color: #fafafa;
}

body{
    font-family: 'Barlow', sans-serif;
    color: #1f1f1f;
}

h1{
    font-family: Barlow;
    font-size: 82px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
}

h2{
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

h3{
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

h4{
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

h5{
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

p{
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px
}

p2{
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

li{
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px
}

a{
    color: #1f1f1f;
    text-decoration: none;
}

header{
    box-shadow: 0px 2px 4px -2px grey;
    padding: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.fixedNav{
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    width: 82%;
    z-index: 1;
}

.navigation{
    color: #1f1f1f;
    display: inline-block;
    padding: 10px;
    text-align: center;
    float: right;
}

.travelpaws{
    background-image: url("../Images/Cover_bg.png");
    background-size: auto 1000px;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-top: 150px;
    padding-bottom: 500px;
}

.cover{
    /*background-color: rgb(37, 42, 67);*/
    padding: 30px;
    padding-left: 9%;
    max-width: 50%;
    text-shadow: 5px 3px 5px #fafafa;
}

.cover img{
    padding-left: 100px;
}

.cover h1{
    line-height: 20px;
}

.cover h3{
    padding-left: 9.05%;
}

.dogWalker{
    padding-left: 9%;
}

.description{
    margin-top: -300px;
    margin-bottom: 100px;
    padding-left: 9%;
}

.description h4{
    padding-right: 16%;
}

.description img{
    display: block;
    margin: auto;
    padding-right: 9%;
}

.gridContainer2{
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10rem;
    text-align: center;
}

.overview{
    text-align: start;
}

.myRoleIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.designItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toolsIcons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.figmaText{
    width: 91.09px;
}

.illustratorText{
    width: 91.1px;
}

.photoshopText{
    width: 91.09px;
}

.spreadsheetText{
    width: 91.1px;
}

.figma, .illustrator, .photoshop, .spreadsheet{
    margin: 0 auto;
}

.theProblem{
    padding-left: 9%;
    padding-right: 7%;
    margin-bottom: 100px;
}

.problemGrid{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 60% 22%;
}

.proposedSolution{
    padding-left: 9%;
    padding-right: 7%;
    margin-bottom: 100px;
}

.solutionGrid{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 60% 22%;
}

.ResearchBoxAndText{
    padding-left: 9%;
    padding-right: 9%;
}

.researchBox{
    border-radius: 41.853px;
    border: 3px solid rgba(243, 154, 54, 0.30);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 100px;
}

.purpose{
    grid-row: 1/2;
    grid-column: 1/2;
}

.structuresInterviews{
    grid-row: 2/3;
    grid-column: 1/2;
}

.affinityDiagram2{
    grid-row: 1/3;
    grid-column: 2/3;
    padding-bottom: 40px;
}

.empathyMap2{
    grid-row: 3/4;
    grid-column: 1/3;
    padding-bottom: 40px;
}

.userPersona1{
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 40px;
}

.ideationPart{
    padding-left: 9%;
    padding-right: 9%;
}

.ideationBox{
    border-radius: 41.853px;
    border: 3px solid rgba(243, 154, 54, 0.30);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 6%;
    margin-bottom: 100px;
}

.brainstorming1{
    grid-row: 1/2;
    grid-column: 1/3;
}

.userInsight{
    grid-row: 2/3;
    grid-column: 1/2;
    padding-top: 10px;
}

.problemStatement{
    grid-row: 3/4;
    grid-column: 1/2;
}

.prioritization1{
    grid-row: 2/4;
    grid-column: 2/3;
}

.storyboard1{
    padding-left: 9%;
    padding-right: 9%;
}

.storyboardGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 9%;
    padding-right: 9%;
    grid-gap: 10%;
    margin-bottom: 100px;
}

.story1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.story1 p p2{
    width: 320px;
}

.story2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.story2 p p2{
    width: 320px;
}

.story3{
    grid-row: 1/2;
    grid-column: 3/4;
}

.story3 p p2{
    width: 320px;
}

.story4{
    grid-row: 2/3;
    grid-column: 1/2;
}

.story4 p p2{
    width: 320px;
}

.story5{
    grid-row: 2/3;
    grid-column: 2/3;
}

.story5 p p2{
    width: 320px;
}

.story6{
    grid-row: 2/3;
    grid-column: 3/4;
}

.story6 p p2{
    width: 320px;
}

.competitorAnalysis{
    padding-left: 9%;
    padding-right: 9%;
    grid-gap: 10%;
    margin-bottom: 100px;
}

.competitorBox{
    border-radius: 41.853px;
    border: 3px solid rgba(255, 103, 149, 0.30);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 9%;
    grid-gap: 3%;
    margin-bottom: 100px;
}

.competitor1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.competitor2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.competitor3{
    grid-row: 1/2;
    grid-column: 3/4;
}

.competitor4{
    grid-row: 2/3;
    grid-column: 1/2;
}

.competitor5{
    grid-row: 2/3;
    grid-column: 2/3;
}

.competitor6{
    grid-row: 2/3;
    grid-column: 3/4;
}

.competitor7{
    grid-row: 3/4;
    grid-column: 1/2;
}

.competitor8{
    grid-row: 3/4;
    grid-column: 2/3;
}

.competitor9{
    grid-row: 3/4;
    grid-column: 3/4;
}

.competitor10{
    grid-row: 4/5;
    grid-column: 1/2;
}

.competitor11{
    grid-row: 4/5;
    grid-column: 2/3;
}

.competitor12{
    grid-row: 4/5;
    grid-column: 3/4;
}

.competitor13{
    grid-row: 5/6;
    grid-column: 1/2;
}

.competitor14{
    grid-row: 5/6;
    grid-column: 2/3;
}

.competitor15{
    grid-row: 5/6;
    grid-column: 3/4;
}

.userFlow2{
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 100px;
}

.userFlowText{
    width: 100px;
}

.userFlowBox{
    border-radius: 41.853px;
    border: 3px solid rgba(255, 103, 149, 0.30);
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 9%;
    margin-bottom: 100px;
}

.needPadding{
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 100px;
}

.prototypeBox{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
}

.prototype1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.prototype2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.prototype3{
    grid-row: 1/2;
    grid-column: 3/4;
}

.prototype4{
    grid-row: 1/2;
    grid-column: 4/5;
}

.prototype5{
    grid-row: 2/3;
    grid-column: 1/2;
}

.prototype6{
    grid-row: 2/3;
    grid-column: 2/3;
}

.prototype7{
    grid-row: 2/3;
    grid-column: 3/4;
}

.prototype8{
    grid-row: 2/3;
    grid-column: 4/5;
}




















/*-------------------------------FOOTER---------------------------------*/
footer{
    padding: 10%;
    margin-top: 200px;
    background-color: #1F1F1F;
    color: #FAFAFA;
}

footer p{
    color:#FAFAFA;
}

.gridContainer{
    display: grid;
    grid-gap: 30%;
    grid-template-columns: 1fr 1fr;
}

.mailText .linkedinText .behanceText .phoneText{
    display: inline-block;
}

.footerText{
    font-size: 25px;
    text-align: center;
    float: left;
    padding: 10%;
    margin-top: 0px;
}

.footerRight{
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: end;
}

.mailText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.mailImg{
    padding-left: 30%;
    justify-content: end;
    display: grid;
}

.linkedinText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.linkedinTextImg{
    padding-left: 30%;
    justify-content: end;
    display: grid;
}

.behanceText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.behanceTextImg{
    padding-left: 30%;
    justify-content: end;
    display: grid;
}

.phoneText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.phoneTextImg{
    padding-left: 30%;
    justify-content: end;
    display: grid;
}





/*-------------------------------MEDIA QUERY---------------------------------*/


@media only screen and (max-width: 800px){
    .myRoleIcons{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 5%;
    }






    












    footer{
        padding-top: 5%;
        padding-bottom: 10%; 
        padding-left: 10%;
        padding-right: 10%;
    }

    .gridContainer{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerRight{
        padding-left: 0%;
    }

}