html{
    background-color: #1F1F1F;
}

body{
    font-family: 'Inter', sans-serif;
    color: white;
}

h4{
    font-weight: 450;
    font-size: 60px;
    color: white;
}

h6{
    font-weight: 400;
    font-size: 50px;
    color: white;
}

h1{
    font-weight: 600;
    font-size: 24px;
    color: white;
}

h2{
    font-size: 14px;
    max-width: 300px;
    color: white;
}

h3{
    font-size: 24px;
    size: 40%;
    color: white;
}

h5{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

p{
    font-weight: 200;
    font-size: 12px;
    color: white;
}

li{
    font-weight: 200;
    font-size: 12px;
    color: white;
}

header{
    background-color: #373737;
    padding: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.navigation{
    /*background-color: rgb(161, 213, 178);*/
    color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    float: right;
}


.cover{
    /*background-color: rgb(37, 42, 67);*/
    background-image:url("Cover_bg.png");
    padding: 30px;
    padding-left: 9%;
    margin-top: 100px;
    max-width: 50%;
}

.cover h4{
    margin-bottom: -0.1%;
}

.cover h5{
    margin-bottom: 15%;
}

.projectOverview{

}

.projectOverview h6{
    text-align: center;
}

.gridContainer2{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.myRoleIcons{
    display: flex;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-right: 19%;
}

.researchImg{
    display: grid;
    grid-template-rows: 1/2;
    grid-template-columns: 1/2;
    justify-content: center;
}

.researchText{
    display: grid;
    grid-template-rows: 2/3;
    grid-template-columns: 1/2;
    justify-content: center;
}


.ideationImg{
    display: grid;
    grid-template-rows: 1/2;
    grid-template-columns: 2/3;
    justify-content: center;
}

.ideationText{
    display: grid;
    grid-template-rows: 2/3;
    grid-template-columns: 2/3;
    justify-content: center;
}

.userPersonaImg{
    display: grid;
    grid-template-rows: 1/2;
    grid-template-columns: 3/4;
    justify-content: center;
}

.userPersonaText{
    display: grid;
    grid-template-rows: 2/3;
    grid-template-columns: 3/4;
    justify-content: center;
}

.userFlowImg{
    display: grid;
    grid-template-rows: 1/2;
    grid-template-columns: 4/5;
    justify-content: center;
}

.userFlowText{
    display: grid;
    grid-template-rows: 2/3;
    grid-template-columns: 4/5;
    justify-content: center;
}

.wireframeImg{
    display: grid;
    grid-template-rows: 3/4;
    grid-template-columns: 1/2;
    justify-content: center;
}

.wireframeText{
    display: grid;
    grid-template-rows: 4/5;
    grid-template-columns: 1/2;
    justify-content: center;
}

.research .ideation .userPersona .userFlow .wireframe .test .prototype p{
    display: inline-block;
}

.problemStatementAndChallenges{
    text-align: center;
}

.gridContainer3{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

.puppy1{
    padding-top: 60px;
}

.gridContainer4{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

.puppy2{
    padding-top: 60px;
}

.solution{
    padding-top: 50px;
}

.researchData{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 100px;
}

.userPersona{
    text-align: center;
}

.personaLeft img{
    border-radius: 100px;
}

.gridContainer6{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.gridContainer5{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.definitionAndIdeation{
    text-align: center;
}

.gridContainer7{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.ideation{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.featurePrioritizationMatrix{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.valueProposition{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.storyboard{
    padding-left: 9%;
    padding-right: 9%;
    display: grid; 
}

.competitorResearch{
    padding-left: 9%;
    padding-right: 9%;
    display: grid; 
}

.competitorResearch h6{
    text-align: center;
}

.prototyping{
    text-align: center;
}

.taskFlow{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.userFlow{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.paperWireframes{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.lofiPrototype{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}

.hifiPrototype{
    padding-left: 9%;
    padding-right: 9%;
    display: grid;
}











footer{
    padding: 140px;
    margin-top: 100px;
    background-color: black;
    color: white;
}

.gridContainer{
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
}

.mailText .linkedinText .behanceText .phoneText{
    display: inline-block;
}

.footerText{
    font-size: 25px;
    text-align: center;
    float: left;
    padding: 20px;
    margin-top: 0px;
}

.footerRight{
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: end;
}

.mailText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.mailImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.linkedinText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.linkedinTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.behanceText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.behanceTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.phoneText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.phoneTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}


